<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-1.953986882410835e-10 2.2962665543199177e-10 -0.027797429328048934" rpy="0 0 0"/>
    <mass value="1.7768721661144469"/>
    <inertia ixx="0.004044" iyy="0.004044" izz="0.007248" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_servo_1">
  <inertial>
    <origin xyz="0.003132200495936127 0.007500341408720192 0.023196666095927996" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.8e-05" iyy="5.9e-05" izz="3.6e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0815 0.0075 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0815 0.0075 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_link_1">
  <inertial>
    <origin xyz="0.01849999463573744 -2.1899026634074435e-09 0.02650028804561732" rpy="0 0 0"/>
    <mass value="0.1923290167755318"/>
    <inertia ixx="0.000122" iyy="8.3e-05" izz="8.3e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.094 -0.0 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.094 -0.0 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_servo_1">
  <inertial>
    <origin xyz="0.009367799504063967 -0.023681033271597624 6.443923149940245e-07" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.8e-05" iyy="3.6e-05" izz="5.9e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.131 -0.0265 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.131 -0.0265 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="femur_link_1">
  <inertial>
    <origin xyz="0.020355283301807026 0.02040028329283361 0.00881081934322231" rpy="0 0 0"/>
    <mass value="0.16125797022290178"/>
    <inertia ixx="5.4e-05" iyy="4.1e-05" izz="5.9e-05" ixy="-0.0" iyz="-0.0" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.1435 0.019878 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.1435 0.019878 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_servo_1">
  <inertial>
    <origin xyz="0.04436920049593618 0.1651536345365851 -0.019877355607684975" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.8e-05" iyy="3.6e-05" izz="5.9e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.141033 0.167228 0.002089" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.141033 0.167228 0.002089" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_link_1">
  <inertial>
    <origin xyz="-0.008297409290698526 0.026499462321603454 -0.0737832603628389" rpy="0 0 0"/>
    <mass value="0.4140359290761643"/>
    <inertia ixx="0.00112" iyy="0.000983" izz="0.000261" ixy="0.0" iyz="-0.0" ixz="-0.000193"/>
  </inertial>
  <visual>
    <origin xyz="-0.19477 0.025755 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.19477 0.025755 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_link_2">
  <inertial>
    <origin xyz="0.009249995421357425 -0.016021854375113068 0.026500288045617326" rpy="0 0 0"/>
    <mass value="0.1923290167755318"/>
    <inertia ixx="9.3e-05" iyy="0.000112" izz="8.3e-05" ixy="-1.7e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.047 0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.047 0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_servo_2">
  <inertial>
    <origin xyz="-0.015824803448748398 -0.019953596879638963 6.443923150044328e-07" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.7e-05" iyy="3.7e-05" izz="5.9e-05" ixy="-1e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.08845 0.100199 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.08845 0.100199 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="femur_link_2">
  <inertial>
    <origin xyz="0.027844952250469637 -0.007428696237244237 0.008810819343222302" rpy="0 0 0"/>
    <mass value="0.16125797022290178"/>
    <inertia ixx="4.4e-05" iyy="5.1e-05" izz="5.9e-05" ixy="-5e-06" iyz="2e-06" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.054535 0.134213 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.054535 0.134213 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_servo_2">
  <inertial>
    <origin xyz="0.07766564705991774 -0.006393198278724033 -0.15521435560768496" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.7e-05" iyy="3.7e-05" izz="5.9e-05" ixy="-1e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.013239 0.155207 -0.133248" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.013239 0.155207 -0.133248" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_link_2">
  <inertial>
    <origin xyz="0.018801018637319686 0.02043523049704854 -0.0737832603628389" rpy="0 0 0"/>
    <mass value="0.4140359290761643"/>
    <inertia ixx="0.001018" iyy="0.001086" izz="0.000261" ixy="-5.9e-05" iyz="0.000167" ixz="-9.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.07508 0.181553 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.07508 0.181553 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_servo_2">
  <inertial>
    <origin xyz="0.008061395916592835 0.0010375350967014724 0.023196666095927986" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="5.4e-05" iyy="4.3e-05" izz="3.6e-05" ixy="9e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.034255 0.074331 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034255 0.074331 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_link_3">
  <inertial>
    <origin xyz="-0.009249999214380113 -0.01602185218521035 0.02650028804561736" rpy="0 0 0"/>
    <mass value="0.1923290167755318"/>
    <inertia ixx="9.3e-05" iyy="0.000112" izz="8.3e-05" ixy="1.7e-05" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.047 0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.047 0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_servo_3">
  <inertial>
    <origin xyz="-0.02519260295281244 0.0037274363919587022 6.443923150530051e-07" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.6e-05" iyy="3.8e-05" izz="5.9e-05" ixy="1e-06" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.04255 0.126699 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.04255 0.126699 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="femur_link_3">
  <inertial>
    <origin xyz="0.007489668948662542 -0.027827979530077818 0.008810819343222361" rpy="0 0 0"/>
    <mass value="0.16125797022290178"/>
    <inertia ixx="4.4e-05" iyy="5.1e-05" izz="5.9e-05" ixy="6e-06" iyz="2e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.088965 0.114336 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.088965 0.114336 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_servo_3">
  <inertial>
    <origin xyz="-0.11197955343601851 0.013418167184690827 -0.1353363556076849" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.6e-05" iyy="3.8e-05" izz="5.9e-05" ixy="1e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.017482 0.172944 -0.11337" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.017482 0.172944 -0.11337" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_link_3">
  <inertial>
    <origin xyz="0.027098427928018184 -0.006064231824554817 -0.07378326036283887" rpy="0 0 0"/>
    <mass value="0.4140359290761643"/>
    <inertia ixx="0.001018" iyy="0.001086" izz="0.000261" ixy="5.9e-05" iyz="0.000167" ixz="9.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.11969 0.155798 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.11969 0.155798 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_servo_3">
  <inertial>
    <origin xyz="0.0049291954206566665 -0.006462806312018704 0.023196666095927986" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="5.4e-05" iyy="4.3e-05" izz="3.6e-05" ixy="-9e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.047245 0.066831 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.047245 0.066831 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_link_4">
  <inertial>
    <origin xyz="0.00924999921438012 0.016021852185210378 0.026500288045617302" rpy="0 0 0"/>
    <mass value="0.1923290167755318"/>
    <inertia ixx="9.3e-05" iyy="0.000112" izz="8.3e-05" ixy="1.7e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.047 -0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.047 -0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_servo_4">
  <inertial>
    <origin xyz="0.025192602952812483 -0.0037274363919587022 6.443923149766773e-07" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.6e-05" iyy="3.8e-05" izz="5.9e-05" ixy="1e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.04255 -0.126699 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04255 -0.126699 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="femur_link_4">
  <inertial>
    <origin xyz="-0.007489668948662542 0.027827979530077818 0.008810819343222281" rpy="0 0 0"/>
    <mass value="0.16125797022290178"/>
    <inertia ixx="4.4e-05" iyy="5.1e-05" izz="5.9e-05" ixy="6e-06" iyz="-2e-06" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.088965 -0.114336 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.088965 -0.114336 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_servo_4">
  <inertial>
    <origin xyz="-0.06311244656398149 0.0876708328153091 0.13533764439231502" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.6e-05" iyy="3.8e-05" izz="5.9e-05" ixy="1e-06" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.15761 -0.071855 0.157304" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.15761 -0.071855 0.157304" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_link_4">
  <inertial>
    <origin xyz="-0.02709842792801817 0.006064231824554872 -0.0737832603628389" rpy="0 0 0"/>
    <mass value="0.4140359290761643"/>
    <inertia ixx="0.001018" iyy="0.001086" izz="0.000261" ixy="5.9e-05" iyz="-0.000167" ixz="-9.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.11969 -0.155798 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.11969 -0.155798 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_servo_4">
  <inertial>
    <origin xyz="-0.00492919542065668 0.006462806312018718 0.023196666095928003" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="5.4e-05" iyy="4.3e-05" izz="3.6e-05" ixy="-9e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.047245 -0.066831 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.047245 -0.066831 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_link_5">
  <inertial>
    <origin xyz="-0.00924999542135737 0.016021854375113068 0.026500288045617344" rpy="0 0 0"/>
    <mass value="0.1923290167755318"/>
    <inertia ixx="9.3e-05" iyy="0.000112" izz="8.3e-05" ixy="-1.7e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.047 -0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.047 -0.081406 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_servo_5">
  <inertial>
    <origin xyz="0.015824803448748467 0.019953596879638977 6.44392315028719e-07" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.7e-05" iyy="3.7e-05" izz="5.9e-05" ixy="-1e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.08845 -0.100199 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.08845 -0.100199 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="femur_link_5">
  <inertial>
    <origin xyz="-0.027844952250469582 0.007428696237244237 0.008810819343222347" rpy="0 0 0"/>
    <mass value="0.16125797022290178"/>
    <inertia ixx="4.4e-05" iyy="5.1e-05" izz="5.9e-05" ixy="-5e-06" iyz="-2e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.054535 -0.134213 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.054535 -0.134213 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_servo_5">
  <inertial>
    <origin xyz="0.03779435294008232 0.07305319827872407 0.1552146443923151" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.7e-05" iyy="3.7e-05" izz="5.9e-05" ixy="-1e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.128699 -0.088547 0.177181" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.128699 -0.088547 0.177181" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_link_5">
  <inertial>
    <origin xyz="-0.01880101863731963 -0.02043523049704854 -0.07378326036283886" rpy="0 0 0"/>
    <mass value="0.4140359290761643"/>
    <inertia ixx="0.001018" iyy="0.001086" izz="0.000261" ixy="-5.9e-05" iyz="-0.000167" ixz="9.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.07508 -0.181553 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.07508 -0.181553 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_servo_5">
  <inertial>
    <origin xyz="-0.008061395916592794 -0.0010375350967014307 0.023196666095927996" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="5.4e-05" iyy="4.3e-05" izz="3.6e-05" ixy="9e-06" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.034255 -0.074331 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.034255 -0.074331 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_link_6">
  <inertial>
    <origin xyz="-0.01849999463573751 2.18990270032858e-09 0.02650028804561743" rpy="0 0 0"/>
    <mass value="0.1923290167755318"/>
    <inertia ixx="0.000122" iyy="8.3e-05" izz="8.3e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.094 0.0 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.094 0.0 0.048467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_link_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_servo_6">
  <inertial>
    <origin xyz="-0.009367799504064023 0.02368103327159766 6.443923151328024e-07" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.8e-05" iyy="3.6e-05" izz="5.9e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.131 0.0265 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.131 0.0265 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/knee_servo_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="femur_link_6">
  <inertial>
    <origin xyz="-0.020355283301807053 -0.020400283292833565 0.008810819343222472" rpy="0 0 0"/>
    <mass value="0.16125797022290178"/>
    <inertia ixx="5.4e-05" iyy="4.1e-05" izz="5.9e-05" ixy="-0.0" iyz="0.0" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.1435 -0.019878 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.1435 -0.019878 0.029467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/femur_link_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_servo_6">
  <inertial>
    <origin xyz="-0.04436920049593626 0.17034636546341494 0.01987764439231523" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.8e-05" iyy="3.6e-05" izz="5.9e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.141033 0.168272 0.041844" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.141033 0.168272 0.041844" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/ankle_servo_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_link_6">
  <inertial>
    <origin xyz="0.008297409290698499 -0.026499462321603377 -0.07378326036283882" rpy="0 0 0"/>
    <mass value="0.4140359290761643"/>
    <inertia ixx="0.00112" iyy="0.000983" izz="0.000261" ixy="0.0" iyz="0.0" ixz="0.000193"/>
  </inertial>
  <visual>
    <origin xyz="0.19477 -0.025755 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.19477 -0.025755 0.021967" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/leg_link_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_servo_6">
  <inertial>
    <origin xyz="-0.003132200495936127 -0.007500341408720155 0.023196666095927996" rpy="0 0 0"/>
    <mass value="0.21396655257545644"/>
    <inertia ixx="3.8e-05" iyy="5.9e-05" izz="3.6e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0815 -0.0075 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0815 -0.0075 0.0428" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/hip_servo_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 1" type="fixed">
  <origin xyz="0.0815 -0.0075 -0.0428" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_servo_1"/>
</joint>

<joint name="Revolute 4" type="revolute">
  <origin xyz="0.0125 0.0075 -0.005667" rpy="0 0 0"/>
  <parent link="hip_servo_1"/>
  <child link="hip_link_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 5" type="revolute">
  <origin xyz="0.037 0.0265 0.0265" rpy="0 0 0"/>
  <parent link="hip_link_1"/>
  <child link="knee_servo_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.0125 -0.046378 -0.0075" rpy="0 0 0"/>
  <parent link="knee_servo_1"/>
  <child link="femur_link_1"/>
</joint>

<joint name="Rigid 7" type="fixed">
  <origin xyz="-0.002467 -0.14735 0.027378" rpy="0 0 0"/>
  <parent link="femur_link_1"/>
  <child link="ankle_servo_1"/>
</joint>

<joint name="Revolute 8" type="revolute">
  <origin xyz="0.053737 0.141473 -0.019878" rpy="0 0 0"/>
  <parent link="ankle_servo_1"/>
  <child link="leg_link_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
  <limit upper="3.141593" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 9" type="revolute">
  <origin xyz="0.012745 -0.007075 -0.005667" rpy="0 0 0"/>
  <parent link="hip_servo_2"/>
  <child link="hip_link_2"/>
  <axis xyz="0.0 -0.0 -1.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 10" type="revolute">
  <origin xyz="0.04145 -0.018793 0.0265" rpy="0 0 0"/>
  <parent link="hip_link_2"/>
  <child link="knee_servo_2"/>
  <axis xyz="-0.866025 -0.5 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 11" type="fixed">
  <origin xyz="-0.033915 -0.034014 -0.0075" rpy="0 0 0"/>
  <parent link="knee_servo_2"/>
  <child link="femur_link_2"/>
</joint>

<joint name="Rigid 12" type="fixed">
  <origin xyz="-0.041296 -0.020994 0.162715" rpy="0 0 0"/>
  <parent link="femur_link_2"/>
  <child link="ankle_servo_2"/>
</joint>

<joint name="Revolute 13" type="revolute">
  <origin xyz="0.061841 -0.026346 -0.155215" rpy="0 0 0"/>
  <parent link="ankle_servo_2"/>
  <child link="leg_link_2"/>
  <axis xyz="-0.866025 -0.5 -0.0"/>
  <limit upper="3.141593" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 14" type="fixed">
  <origin xyz="0.034255 -0.074331 -0.0428" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_servo_2"/>
</joint>

<joint name="Revolute 15" type="revolute">
  <origin xyz="0.000245 -0.014575 -0.005667" rpy="0 0 0"/>
  <parent link="hip_servo_3"/>
  <child link="hip_link_3"/>
  <axis xyz="-0.0 -0.0 -1.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 16" type="revolute">
  <origin xyz="0.00445 -0.045293 0.0265" rpy="0 0 0"/>
  <parent link="hip_link_3"/>
  <child link="knee_servo_3"/>
  <axis xyz="-0.866025 0.5 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 17" type="fixed">
  <origin xyz="-0.046415 0.012363 -0.0075" rpy="0 0 0"/>
  <parent link="knee_servo_3"/>
  <child link="femur_link_3"/>
</joint>

<joint name="Rigid 18" type="fixed">
  <origin xyz="0.106447 -0.058608 0.142837" rpy="0 0 0"/>
  <parent link="femur_link_3"/>
  <child link="ankle_servo_3"/>
</joint>

<joint name="Revolute 19" type="revolute">
  <origin xyz="-0.137172 0.017146 -0.135337" rpy="0 0 0"/>
  <parent link="ankle_servo_3"/>
  <child link="leg_link_3"/>
  <axis xyz="-0.866025 0.5 -0.0"/>
  <limit upper="3.141593" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 20" type="fixed">
  <origin xyz="-0.047245 -0.066831 -0.0428" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_servo_3"/>
</joint>

<joint name="Revolute 21" type="revolute">
  <origin xyz="-0.000245 0.014575 -0.005667" rpy="0 0 0"/>
  <parent link="hip_servo_4"/>
  <child link="hip_link_4"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 22" type="revolute">
  <origin xyz="-0.00445 0.045293 0.0265" rpy="0 0 0"/>
  <parent link="hip_link_4"/>
  <child link="knee_servo_4"/>
  <axis xyz="0.866025 -0.5 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 23" type="fixed">
  <origin xyz="0.046415 -0.012363 -0.0075" rpy="0 0 0"/>
  <parent link="knee_servo_4"/>
  <child link="femur_link_4"/>
</joint>

<joint name="Rigid 24" type="fixed">
  <origin xyz="0.068645 -0.042481 -0.127837" rpy="0 0 0"/>
  <parent link="femur_link_4"/>
  <child link="ankle_servo_4"/>
</joint>

<joint name="Revolute 25" type="revolute">
  <origin xyz="-0.03792 0.083943 0.135337" rpy="0 0 0"/>
  <parent link="ankle_servo_4"/>
  <child link="leg_link_4"/>
  <axis xyz="0.866025 -0.5 -0.0"/>
  <limit upper="3.141593" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 26" type="fixed">
  <origin xyz="0.047245 0.066831 -0.0428" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_servo_4"/>
</joint>

<joint name="Revolute 27" type="revolute">
  <origin xyz="-0.012745 0.007075 -0.005667" rpy="0 0 0"/>
  <parent link="hip_servo_5"/>
  <child link="hip_link_5"/>
  <axis xyz="-0.0 0.0 -1.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 28" type="revolute">
  <origin xyz="-0.04145 0.018793 0.0265" rpy="0 0 0"/>
  <parent link="hip_link_5"/>
  <child link="knee_servo_5"/>
  <axis xyz="0.866025 0.5 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 29" type="fixed">
  <origin xyz="0.033915 0.034014 -0.0075" rpy="0 0 0"/>
  <parent link="knee_servo_5"/>
  <child link="femur_link_5"/>
</joint>

<joint name="Rigid 30" type="fixed">
  <origin xyz="-0.074164 -0.045666 -0.147714" rpy="0 0 0"/>
  <parent link="femur_link_5"/>
  <child link="ankle_servo_5"/>
</joint>

<joint name="Revolute 31" type="revolute">
  <origin xyz="0.053619 0.093006 0.155214" rpy="0 0 0"/>
  <parent link="ankle_servo_5"/>
  <child link="leg_link_5"/>
  <axis xyz="0.866025 0.5 -0.0"/>
  <limit upper="3.141593" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 32" type="fixed">
  <origin xyz="-0.034255 0.074331 -0.0428" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_servo_5"/>
</joint>

<joint name="Revolute 33" type="revolute">
  <origin xyz="-0.0125 -0.0075 -0.005667" rpy="0 0 0"/>
  <parent link="hip_servo_6"/>
  <child link="hip_link_6"/>
  <axis xyz="-0.0 0.0 -1.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 34" type="revolute">
  <origin xyz="-0.037 -0.0265 0.0265" rpy="0 0 0"/>
  <parent link="hip_link_6"/>
  <child link="knee_servo_6"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 35" type="fixed">
  <origin xyz="-0.0125 0.046378 -0.0075" rpy="0 0 0"/>
  <parent link="knee_servo_6"/>
  <child link="femur_link_6"/>
</joint>

<joint name="Rigid 36" type="fixed">
  <origin xyz="0.002467 -0.18815 -0.012377" rpy="0 0 0"/>
  <parent link="femur_link_6"/>
  <child link="ankle_servo_6"/>
</joint>

<joint name="Revolute 37" type="revolute">
  <origin xyz="-0.053737 0.194027 0.019877" rpy="0 0 0"/>
  <parent link="ankle_servo_6"/>
  <child link="leg_link_6"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <limit upper="3.141593" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="Rigid 38" type="fixed">
  <origin xyz="-0.0815 0.0075 -0.0428" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_servo_6"/>
</joint>

</robot>
